AssignmentDay7/flows/Opp_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_2_of_hot</name>
        <label>plus 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varscore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recent_activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_plus_10</name>
        <label>Copy 2 of plus 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varscore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>hot</name>
        <label>hot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varscore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>revenue1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_score</name>
        <label>reset score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varscore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>acocunt_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_score</name>
        <label>set score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varscore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coltoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>acocunt_size</name>
        <label>accunt rating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>revenue1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>account_hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Account.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hot</targetReference>
            </connector>
            <label>account hot</label>
        </rules>
    </decisions>
    <decisions>
        <name>recent_activity</name>
        <label>recent activity in 1 week</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>set_score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recent_act</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Account.LastActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>last7days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_plus_10</targetReference>
            </connector>
            <label>Recent act</label>
        </rules>
    </decisions>
    <decisions>
        <name>revenue1</name>
        <label>high revenue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>recent_activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>revenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_hot</targetReference>
            </connector>
            <label>revenue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>last7days</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <formulas>
        <name>plus10</name>
        <dataType>Number</dataType>
        <expression>{!varscore} + 10</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opp Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Scoring</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>reset_score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_opp</name>
        <label>get opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>coltoupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coltoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varscore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
