AssignmentDay3/Create_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assigncons</name>
        <label>assigncons</label>
        <locationX>757</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>contacts.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.First_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acc.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conrecs.Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>conrecs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>InterNatResident</name>
        <choiceText>International Resident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International Resident</stringValue>
        </value>
    </choices>
    <choices>
        <name>NatResident</name>
        <choiceText>National Resident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Resident</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>len</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!contacts.MobilePhone}) &gt; 10</expression>
    </formulas>
    <interviewLabel>FlowAssTask1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contacts</label>
    <loops>
        <name>conrecs</name>
        <label>conrecs</label>
        <locationX>669</locationX>
        <locationY>398</locationY>
        <collectionReference>Contacts1.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigncons</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATECONS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATECONS</name>
        <label>CREATECONS</label>
        <locationX>669</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Contacts_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Cons</inputReference>
    </recordCreates>
    <recordLookups>
        <name>acc</name>
        <label>acc</label>
        <locationX>669</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contacts_created</name>
        <label>Contacts created</label>
        <locationX>669</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>contactss</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Cons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-e908&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-fcca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-8f20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-d29a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Selectedcons</name>
            <fieldText>Selectedcons</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selectedcons_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selected</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>contactss.selectedRows</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-a33d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-dc2e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contactss.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>669</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>conrecs</targetReference>
        </connector>
        <fields>
            <name>Contacts1</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Account_Name</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>acc.Name</elementReference>
                </defaultValue>
                <fieldText>Account Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>First_name</name>
                <dataType>String</dataType>
                <fieldText>First name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Last_Name</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Email</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Phone</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <validationRule>
                    <errorMessage>&lt;p&gt;Phone must have only 10 digits&lt;/p&gt;</errorMessage>
                    <formulaExpression>LEN({!Contacts1.AllItems[$EachItem].Phone.value}) =10</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>NatRes</name>
                <dataType>Boolean</dataType>
                <fieldText>National Resident</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>International_Resident</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <booleanValue>false</booleanValue>
                </defaultValue>
                <fieldText>International Resident</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isDisabled>
                    <elementReference>Contacts1.AllItems[$EachItem].NatRes</elementReference>
                </isDisabled>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Address</name>
                <extensionName>flowruntime:address</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>addressLabel</name>
                    <value>
                        <stringValue>Address</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>disabled</name>
                    <value>
                        <elementReference>Contacts1.AllItems[$EachItem].International_Resident</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <elementReference>Contacts1.AllItems[$EachItem].NatRes</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>337</locationX>
        <locationY>479</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errors</name>
            <fieldText>&lt;p&gt;Something went wrong! See below for more details :-&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>acc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
