AssignmentDay3/Create_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Expectedamt</name>
        <label>Expectedamt</label>
        <locationX>367</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>oppty.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppty.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountIDD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createopp</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>client</name>
        <dataType>String</dataType>
        <expression>IF({!Expected_Revenue}&gt;1000, &apos;Premium&apos;, &apos;Standard&apos;)</expression>
    </formulas>
    <interviewLabel>Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createopp</name>
        <label>createopp</label>
        <locationX>624</locationX>
        <locationY>457</locationY>
        <inputReference>oppty</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>784</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Expectedamt</targetReference>
        </connector>
        <fields>
            <name>Client1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!client} Client&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oppty.AccountId</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oppty.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oppty.CloseDate</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oppty.StageName</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oppty.Type</objectFieldReference>
        </fields>
        <fields>
            <name>Expected_Revenue</name>
            <dataType>Currency</dataType>
            <fieldText>Expected Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>oppty.Description</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>oppty.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountIDD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
