AssignmentDay3/Create_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Subject1</name>
        <label>Subject</label>
        <locationX>407</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>taskass</name>
        <label>taskass</label>
        <locationX>658</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>Task.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Letter</name>
        <choiceText>Send Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Quote</name>
        <choiceText>Send Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Quote</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Create Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>646</locationX>
        <locationY>472</locationY>
        <inputReference>Task</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>657</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Subject1</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <choiceReferences>Call</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Send_Letter</choiceReferences>
            <choiceReferences>Others</choiceReferences>
            <choiceReferences>Send_Quote</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Task.Description</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Task.ActivityDate</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>taskass</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
